
* {
    --card-bg-color: #ffffff;
    --main-bg-color: #f5f9ff;
    --secondary-bg-color: linear-gradient(45deg, #506CCF 0%, #3453C2 100%);;
    --third-bg-color: #f3f5f8;
    --fourth-bg-color: #d6e0f3;
    --fifth-bg-color: #42567c;
    --seventh-bg-color: #88a4d3;

    --main-text-color: #08123A;
    --secondary-text-color: #5F6B77;
    --third-text-color: #8B9FCC;
    --fourth-text-color: #E9EAF0;
    --fifth-text-color: #b4b7cd;

    --secondary-text-color-hover: #9ba5ab;

    --accent-color-1: #5dcab2;
    --accent-color-2: #506ccf;
    --accent-color-3: #ffc86f;
    --accent-color-4: #ff8b8b;
    --accent-color-5: #49a1f1;

    --accent-color-1-hover: #4ba490;
    --accent-color-2-hover: #647cd2;
    --accent-color-3-hover: #c96c6c;
    --accent-color-4-hover: #be6868;
    --accent-color-5-hover: #5aaefa;

    --shadow-medium: rgba(7, 55, 124, 0.15) 0px 24px 20px 0px;

    --border-radius-medium: 14px;
    --border-radius-small: 11px;
    --border-radius-big: 16px;
}
